.imageList {
  padding: 0 var(--space-lg);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-lg);
}

/* Laptop */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
