.header {
  padding: var(--space-lg);
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
}

.logo {
  font-size: var(--font-xl);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

.logo:hover {
  color: var(--color-green);
}
